<hr/>
<%= f.input :taskresult_id, :as => :hidden %>
<%= f.input :task_id, :as => :hidden %>
<div class="row">
  <div class="form-group mb-2 col-10">
     <%= f.input :feed_text, required: true,label: false,placeholder: "#{t('val.student.feedback')}",hint: "#{t('val.student.hintfeedback')}",input_html: {class: "form-control",style: "width:100%"} %>
  </div>
  <div class="form-group col mx-sm-3 mb-2">
    <%= f.submit 'Save' ,class: "btn btn-pink btn-scoll-fixed fixed-right" %>
  </div>
</div>