/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//@import 'bootstrap-sprockets';
@import 'bootstrap';
//@import 'bootstrap-select';
@import "font-awesome";
@import "select2";
@import 'bootstrap-datetimepicker';
//@import 'bootstrap-datetimepicker-build';

.hidden{display:none;}
.color-green1{
   color:#11605C;
}
.websitename{
    position:absolute;
    bottom:5px;
    left:115px;
}
.error{
    color:#9E1F18;
}
.ajax-waiting{border:1px #f7ba08 solid;}
.ajax-success{border:1px #05b105 solid;}
.ajax-fail{border:1px #ff0000 solid;}

@import "pages";