// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-home-block{
    position: relative;
    display: table;
   text-align: center;
    margin:0 auto;
}
.img-home{
    position:relative;
    z-index:1;
    max-width: 400px;
}
.circle-home{
    width: 100%;
    height: 100%;
    background-color: rgba(59, 186, 181, 1);
    position: absolute;
    top: 0;
    border-radius: 50%;
    z-index: 0;
}

.howitwork{
    .card-title{
        font-size:5rem;
        border-bottom:0.5rem #007bff solid;
    }
}
@media(min-width: 768px){
    .howitwork{
    .card-title{
        font-size:8rem;
        border-bottom:0.5rem #007bff solid;
    }
}
}

@media(min-width: 992px){
    .howitwork{
    .card-title{
        font-size:11rem;
        border-bottom:0.5rem #007bff solid;
    }
}
}
